<html>
<head>
  <title>Feria de navidad Bootic 2011</title>
  <link href='http://fonts.googleapis.com/css?family=Signika&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/master.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>

  <div id="star"></div>

  <div id="welcome">

    <h1><a href="http://www.bootic.net"><img src="/bootic-logo.png" alt="Bootic" /></a></h1>

    <h2><img src="/llego-la-navidad.png" alt="Llegó la navidad" /></h2>
    <p>Las ventajas de comprar en línea son evidentes, sobre todo en esta época. Ahorrarse los interminables tacos, estacionamientos y contratiempos.</p> <p>Estas razones nos han motivado a realizar la <strong>Primera Feria de Navidad Bootic</strong>.</p>
  </div>

  <div id="wrapper">
    <!-- lalalalaa -->

    <%= yield %>

    <!-- /lalala -->

  </div>

</body>
</html>
