<html>
<head>
  <title>Feria de navidad Bootic 2011</title>
  <link href='http://fonts.googleapis.com/css?family=Signika&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/master.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>

  <div id="star"></div>

  <div id="welcome">

    <h1><a href="http://www.bootic.net"><img src="/bootic-logo.png" alt="Bootic" /></a></h1>

    <h2><img src="/llego-la-navidad.png" alt="Llegó la navidad" /></h2>
    <p>¿Andas falto de ideas o con poco tiempo? Este año decidimos organizar nuestra primera <strong>Feria de Navidad Bootic</strong> para darte una mano con alternativas de regalos para esta pascua. Todos se pueden comprar en línea en distintas tiendas Bootic. Así además te evitas pasar horas en un taco o el estacionamiento de un mall!</p>
  </div>

  <div id="wrapper">
    <!-- lalalalaa -->

    <%= yield %>

    <!-- /lalala -->

  </div>

</body>
</html>
