body, table, ul, ol, dt, dd, dl, p, h1, h2,h3,h4,h5,h6 {
  padding: 0;
  margin: 0;
}
p {
  margin-bottom: 1.2em;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  background: url(xmas.jpg);
}
#wrapper {
  text-align: left;
  margin: 0 auto;
  width: 90%;
}

#star{
	position: absolute;
	top: -200px;
	right: 0;
	width: 600px;
	height: 639px;
	background: url(star-bg.png);
}

h1{
	position: absolute;
	right: 180px;
	top: 50px;
}

#welcome{
	color: white;
	text-align: left;
	width: 90%;
	margin: 50px auto;
}

#welcome p{
	font-size: 1.5em;
	width: 800px;
	font-family: "Helvetica Neue", Calibri, sans-serif;
	letter-spacing: -0.03em;
}

/* helpers
----------------------------------*/

.hidden { display: none }

/* Header
----------------------------------*/
#logo {
  float: left;
}
#header {
  padding: 10px 0 10px 0;
  margin-bottom: 20px;
/*  background: url(body-pattern.png);
  -webkit-box-shadow: 2px 0 4px rgba(0, 0, 0, 1);
  -moz-box-shadow: 2px 0 4px rgba(0, 0, 0, 1);
*/
}
#nav {
	display: none;
  float: right;
  list-style-type: none;
  margin: 40px 0 0 0;
}
#nav li {
  float: left;
  margin: 0 1em;
}
#nav a {
  color: white;
  text-shadow: 1px 1px 1px black;
  text-decoration: none;
  font-size: 16px;
}
.frame {
  width: 90%;
  text-align: left;
  margin: 0 auto;
}
/* box
-------------------------*/
.box {
  width: 210px;
  height: 210px;
  margin: 5px 5px 15px 5px;
  float: left;
  background: white;
  position: relative;
  -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

.box:hover{
	z-index: 10;
	-moz-transform: rotate(3deg) scale(1.2) !important;
	-webkit-transform: rotate(3deg) scale(1.2) !important;
	-khtml-transform: rotate(3deg) scale(1.2) !important;
	-o-transform: rotate(3deg) scale(1.2) !important;
	transform: rotate(3deg) scale(1.2) !important;
}

.box:hover img{
/*	border: 3px solid #a00;*/
}

.double {
  width: 430px;
}
.box a {
  display: block;
  width: 200px;
  height: 200px;
  overflow: hidden;
  text-decoration: none;
  opacity: 0.9;
  margin: 5px;
}
.box a:hover {
  opacity: 1;
}
.box .title {
  font: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  position: absolute;
  bottom: 7px;
  left: 10px;
  right: 10px;
  padding: 0 .25em;
  text-decoration: none;
  display: none;
  background: #a00;
  color: #fff;
  letter-spacing: -0.05em;
  font-weight: bold;
}

.box a:hover .title {
  display: inline;
}
.box .shop {
  font: italic 100% Georgia, "Times New Roman", Times, serif;
  font-size: 10px;
  color: #333;
  text-align: center;
  line-height: 3;
  display: block;
  position: absolute;
  z-index:3;
  top: -18px;left: 40px;
  background: url(tape2.png) left top no-repeat;
  width: 115px;height: 32px;
}
.row_title {
  background: white url(35.jpg) 23px 96px no-repeat;
}
.row_title h2,
.row_title .margins {
  margin: 20px;
  font-size: 16px;
  color: #253B53;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}

#footer{
	font-size: 1.3em;
	color: #ddd;
	margin-top: 40px;
	text-align: center;
}

#footer a{
	color: #fff;
}
